// PRODUCT CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the product carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display product
//
// 1. If there's no JS layout the products out based on the grid.
//
// -----------------------------------------------------------------------------

.productCarousel { // 1
    @include grid-row(
        $behavior: nest
    );
    margin-left: 20px;
    margin-right: 20px;


    .slick-next {
        right: -30px;
        @include breakpoint("medium") {
            right: -20px;
        }
    }

    .slick-prev {
        left: -30px;
        @include breakpoint("medium") {
            left: -20px;
        }
    }
}

.productCarousel-slide { // 1
    @include grid-column(6);

    @include breakpoint("small") {
        width: grid-calc(4, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(3, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(2, $total-columns);
    }

    .card {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}


.brandsList {
    /* .productCarousel-slide {
        padding: 0 20px;
    } */

    .card {
        padding: 0 10px;

        @include breakpoint("small") {
            padding: 0 50px;
        }
    }
    .card-img-container:after {
        padding-bottom: 55%;
    }
}