{{#if page_type '===' 'default'}}{{else}}
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="banner">
        {{{limit banners.top 1}}}
    </div>
</div>
{{/if}}
{{/if}}
<header class="header" role="banner">
    <div class="header-container">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <div class="table-wrap">
            <div class="table-cell">
                {{#if page_type '===' 'default'}}
                    <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                        {{> components/common/store-logo}}
                    </h1>
                {{else}}
                    <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                        {{> components/common/store-logo}}
                    </div>
                {{/if}}
            </div>
            <div class="table-cell">
                {{> components/common/navigation}}
            </div>
        </div>
        
        {{{region name="header_bottom"}}}
        
    </div>
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
</header>
